src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="25e286c3-6e97-4aad-b497-33d619dd1945" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="111a9532-6a68-4f8b-9f98-13d2c8a067de" >
		<http:listener doc:name="GET /hello" doc:id="57eca1d2-7f56-443b-9385-43407b0732e3" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET"/>
		<set-payload value='#[output text/plain --- "hello world from integration architecture"]' doc:name="Set Payload" doc:id="f6e40772-3a7d-4059-8bb0-1fa79ce74f00" />
		<logger level="INFO" doc:name="Logger" doc:id="09660276-c469-4530-8139-064b58525386" message="Hello World" category="com.mulesoft.training.hello-world"/>
	</flow>
</mule>
